* {
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
}

.titolo {
  background-color: lightgray;
  margin-bottom: 30px;
  padding: 10px;
}

.btn {
  padding: 10px;
  margin: 30px 5px;
  background-color: #0d6efd;
  color: white;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 0px;
}

.btn:hover {
  color: yellow;
  background-color: red;
}

.card {
  padding: 15px;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

.selezionato {
  background-color: orange;
  color: black;
}