* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titolo {
  background-color: lightgray;
  margin-bottom: 30px;
  padding: 10px;
}

.btn {
  padding: 5px;
  margin: 5px;
  background-color: lightblue;
  color: white;
}

.card {
  padding: 15px;
  margin: 10px;
  border: 1px solid black;
}